/Patrones creacionales/singleton/target/
/Patrones creacionales/factoryMethod/target/
/Patrones creacionales/factoryAbstract/target/
/Patrones creacionales/prototype/target/
/Patrones creacionales/builder/target/
/Patrones estructurales/adapter/target/
/Patrones estructurales/bridge/target/
/Patrones estructurales/bridge2/target/
